@media (max-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .lines {
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 8px;
  }
  .line {
    height: 3px;
    width: 100%;
  }
  .burger {
    background-color: transparent;
    border: 1px solid transparent;
    height: 100%;
    width: 100px;
    position: relative;
  }
  nav,
  .headerright {
    display: none;
    position: absolute;
    right: 0;
    width: 100vw;
    background-color: black;
    color: white;
    padding: 10px;
  }
  nav a,
  .navigation {
    display: none;
    position: absolute;
    right: 0;
    width: 100vw;
    background-color: black;
    color: white;
    padding: 10px;
  }
  .blocksecond,
  .blockthird {
    display: flex;
    flex-direction: column;
  }
}
